{% extends "layout.html" %}
{% block body %}

  <!-- Page Content -->
  <div class="container" >

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About College
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{{url_for('static',filename='img1.jpg')}}" alt="">
      </div>
      <div class="col-lg-6">
        <p>This college is a grant-in-aid institution affiliated to Shivaji University, Kolhapur. Having been established prior to 1972, it is included under sections 2(f) and 12(B) of the UGC Act and has been receiving grants regularly. Our College is also an ISO 9001:2015 certified College and is now accredited B by NAAC in 2011.

The college offers courses in Physics, Microbiology, Geology, Statistics, Chemistry, Pollution, Botany, Zoology, Mathematics and Electronics for education at the graduation (B. Sc.) level. The postgraduate course, M. Sc. in Microbiology also offered in this college has been its Jewel in the Crown for the past 32 years. M. Phil courses are also being offered in this college in Physics, Botany and Zoology and PhD in Microbiology.

</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->

    <!-- /.row -->

    <!-- Our Customers -->
    <p>Since the academic year 2008-09, three new courses, B.Sc. in Biotechnology (optional), B. Sc. in Computer Science and Bachelor in Computer Science (BCS) are also being offered for graduation level studies. We are now offering M. Sc. in Analytical Chemistry and PhD in Zoology since 2013.

The college has also received several grants for major and minor research projects from funding agencies like UGC, MoEF and CPCB. Besides, this college has successfully completed two COSIP projects during 1983-86 and 2000-03. The college also pays equal attention to faculty improvement and research.

Several support services are also provided in the form of hostel facilities for boys and girls, a well stocked central library, canteen, staff quarters, guesthouse, an up to date botanical garden, sufficient playgrounds for outdoor games, an UGC funded Instrumentation Maintenance Facility, a vermicomposting unit, workshop, animal house and a vehicle parking shed. In addition, we also have a Red Ribbon club for AIDS awareness and the Vivek vahini activity for the students to develop a scientific outlook towards eradication of superstitions

For environmental consciousness, we also have the Eagle Nature Club affiliated to WWF – India that organises activities associated with animal wildlife and the Eco-Club devoted to spreading awareness about plant life, green cover and other allied issues.

The college also publishes its Annual Magazine `Yashwant’ on 12th March every year. In this, students are given the opportunity to write research based articles, general prose and poetry in English, Marathi and Hindi. There is also the Art section where they publish their works of art like sketches, paintings, cartoons, photographs, etc. Special achievements of the students are also reported here with photographs wherever appropriate. Similar achievements of teachers and other staff are also reported. The principal’s annual report printed in the beginning highlights all college activities during the year.

The Junior College wing (+2) of this college is affiliated to Maharashtra Board for Secondary and Higher Secondary Education, Kolhapur Division under the School Index No. J.21.02.002.

Along with traditional subjects, our junior college wing also offers Bifocal vocational courses such as Electronics, Mechanical maintenance, Electrical maintenance and Scooter-Motorcycle servicing in collaboration with Government of Maharashtra and Technical School, Karad. We also offer courses in Computer Science, Information Technology and Horticulture.

To achieve academic excellence, the college has schemes such as Scholar batch, Remedial teaching for weak students and coaching for MHT-CET. Consequently, our meritorious students have consistently occupied top places in Board and University Merit lists.
</p>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
